.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vagrant

*.sqlite

project.lock.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vs/

TestResult.xml

*.nupkg
**/packages/*
!**/packages/build/
#!**/packages/repositories.config

node_modules/
bower_components/
**/App/libs/

**/wwwroot/css/
**/wwwroot/images/
**/wwwroot/fonts/
**/wwwroot/js/
**/wwwroot/index.html
